on early-init

    # IPv6 and WiFi support
    insmod /system/lib/modules/current/ipv6.ko
    insmod /system/lib/modules/current/wl12xx.ko

    # DM/Crypt
    insmod /system/lib/modules/current/dm-mod.ko
    insmod /system/lib/modules/current/dm-crypt.ko

    # DSP
    insmod /system/lib/modules/current/mailbox.ko
    insmod /system/lib/modules/current/mailbox_mach.ko
    insmod /system/lib/modules/current/bridgedriver.ko shm_size=0x500000 base_img=/system/lib/dsp/baseimage.dof
    insmod /system/lib/modules/current/dspbridge.ko

    # CMT
    insmod /system/lib/modules/current/nfnetlink.ko
    insmod /system/lib/modules/current/nfnetlink_log.ko
    insmod /system/lib/modules/current/hsi_char.ko
    insmod /system/lib/modules/current/omap_ssi.ko
    insmod /system/lib/modules/current/cmt.ko
    insmod /system/lib/modules/current/phonet.ko phonet_gid=0
    insmod /system/lib/modules/current/ssi_protocol.ko
    insmod /system/lib/modules/current/cmt_speech.ko
    insmod /system/lib/modules/current/pn_pep.ko

    insmod /system/lib/modules/current/hci_h4p.ko
    insmod /system/lib/modules/current/hidp.ko
    insmod /system/lib/modules/current/bnep.ko

    # Accelerometer
    insmod /system/lib/modules/current/lis3lv02d.ko
    insmod /system/lib/modules/current/lis3lv02d_i2c.ko

    # HW keys
    insmod /system/lib/modules/current/keychord.ko
    insmod /system/lib/modules/current/twl4030-pwrbutton.ko
    insmod /system/lib/modules/current/twl4030_keypad.ko
    insmod /system/lib/modules/current/twl5031-aci.ko

    # Leds, vibra
    insmod /system/lib/modules/current/leds-lp5521.ko
    insmod /system/lib/modules/current/vibra_spi.ko

    # IOMMU and Camera
    #insmod /system/lib/modules/current/iommu.ko
    #insmod /system/lib/modules/current/iommu2.ko
    #insmod /system/lib/modules/current/iovmm.ko
    #insmod /system/lib/modules/current/omap3-iommu.ko
    #insmod /system/lib/modules/current/smiapp-power.ko
    #insmod /system/lib/modules/current/smiapp.ko
    #insmod /system/lib/modules/current/omap3-isp.ko

on init
    write /sys/module/omapfb/parameters/android_mode 1
    write /sys/power/sleep_while_idle 1
    write /sys/power/clocks_off_while_idle 1
    write /sys/power/enable_off_mode 1
    write /sys/devices/platform/serial8250.0/sleep_timeout 2

on boot

# workaround for deep sleep
    write /sys/power/wake_lock sleepWorkaround

# disable proximity sensor, we don't have HAL for it currently
    write /sys/devices/platform/gpio-switch/proximity/disable 1

# notification leds
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0032/leds/lp5521:channel0/brightness
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0032/engine1_mode
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-0032/engine1_load
    chown system system /sys/class/leds/lp5523:channel1/brightness
    chown system system /sys/class/leds/lp5523:channel2/brightness
    chown system system /sys/class/leds/lp5523:channel3/brightness
    chown system system /sys/class/leds/lp5523:channel4/brightness
    chown system system /sys/class/leds/lp5523:channel5/brightness
    chown system system /sys/class/leds/lp5523:channel6/brightness

    chown system system /sys/class/graphics/fb0/blank
    chmod 0660 /sys/devices/omapdss/display0/backlight/display0/brightness
    chown system system /sys/devices/omapdss/display0/backlight/display0/brightness
    chmod 0660 /sys/class/graphics/fb0/blank
# colour profile
    chown system system /sys/devices/platform/omapdss/manager0/cpr_coef
    chown system system /sys/devices/platform/omapdss/manager0/cpr_enable

# tearing hack
    chown system /sys/devices/omapdss/display0/tear_elim
    write 0 /sys/devices/omapdss/display0/tear_elim

# powersaving
    chown system system /sys/devices/platform/i2c_omap.2/i2c-2/2-004b/disable_ts
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chown system system /sys/power/pm_optimizer_rotation

    chown system system /data/app
    chmod 0771 /data/app

    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state

# Magical DSP INIT
service baseimage /system/bin/logwrapper /system/bin/dspexec -v -T /system/lib/dsp/baseimage.dof
    class main
    oneshot
    disabled

# Start PowerVR SGX DDK
service pvr /system/bin/logwrapper /system/bin/sgx/rc.pvr start
    class main
    oneshot

service bootlog /system/bin/logcat -v long -f /data/logs/boot.log
    class main
    disabled
    oneshot

on property:persist.service.bootlog.enable=1
    start bootlog

on property:persist.service.bootlog.enable=0
    stop bootlog

service radiolog /system/bin/logcat -b radio -v long -f /data/logs/radio.log
    class main
    disabled
    oneshot

on property:persist.service.radiolog.enable=1
    start radiolog

on property:persist.service.radiolog.enable=0
    stop radiolog

service dsme /system/bin/fakedsme
    class main
    disabled

service bme /system/bin/logwrapper /system/bin/sh /system/etc/bme.sh
    class main
    disabled
    onrestart restart dsme

service harmount /system/bin/sh /system/etc/harmount.sh
    class main
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -dd -K -Dwext
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    group wifi inet
    disabled
    oneshot

service wlan_loader /system/bin/logwrapper /system/bin/sh /system/etc/wlan_loader.sh
    class main
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/logwrapper /system/bin/dhcpcd -AKBL
    class main
    group system dhcp
    disabled
    oneshot

service reboot /system/bin/reboot -n
    oneshot
    disabled
    keycodes 114 115 116

